
#semana04-container {
    display: block;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(27, 38, 59, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: 20px auto;
    backdrop-filter: blur(10px);
  }
  
  button.btn-dark {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #4CAF50;
    border: 2px solid #388E3C;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 100%;
    display: block;
  }
  
  button.btn-dark:hover {
    background-color: #45a049;
    border-color: #388E3C;
    transform: scale(1.05);
  }
  
  button.btn-dark:active {
    transform: scale(0.95);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #f8f9fa;
    text-shadow: 0 0 10px rgba(248, 249, 250, 0.5);
  }

  h2 {
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 40px;
    color: #adb5bd;
    text-shadow: 0 0 5px rgba(173, 181, 189, 0.5);
  }

  .component {
    margin-bottom: 20px;
    display: block;
  }

  button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #a1c6ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #d4a5a5;
    transform: scale(1.05);
  }
  